@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Shadows+Into+Light&display=swap');


/* GENERAL */
*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 0;
    margin: 0;
}

body {
    background-color: #e5ede8;
}


/* HEADER */
/* Navbar - Basic styling */
.navbar {
    background: #356960;
    padding: 5px 25px;
    font-family: 'Julius Sans One', sans-serif;
}

.menu {
    list-style-type: none;
    vertical-align: middle;
}

.menu li {
    font-size: 16px;
    padding: 10px 5px;
    white-space: nowrap;
}

.menu li a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    border-radius: 5px;
}

.menu li a:hover {
    text-decoration: underline;
    color: rgba(255,255,255,1);
}

.menu li a:active {
    text-decoration: underline;
    color: #bf9d9d;
}

.logo a span{
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
}

.logo a,
.toggler a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px rgba(255,255,255,0.8) solid;
}

/* Shopping Cart - ukazatel počtu produktů v košíku */
.item.cart {
    margin-left: 5px;
    padding: 9px;
    background-color: #134347;
    border: 1px #134347;
    border-radius: 5px;
}

.item.cart:hover {
    transition:all .25s;
    color: #ddd;
    background: #4f7d7d;
    border-color: #356960;
}

.item.cart:active {
    transition:all .25s;
    color: #bf9d9d;
    background: #134347;
    border-color: #134347;
}

/*
.item.cart i {
    color: #bf9d9d;
}
*/


/* Banner */
.banner-area {
    height: auto; /* 100px; */
    padding: 0;
    background-size: cover;
    background: #c4ddcf url("images/tropic.webp") center;
    text-align: center;
}

.banner-area h1, h2 {
    padding: 0;
    margin: 0;
    color: #bf9d9d;
    text-shadow: 2px 2px black;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
}


/* MOBILE MENU */
/* Nav Menu Toggle (full burger-bar) */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggler {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.banner-area h1 {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    font-size: 30px;
    text-transform: uppercase;
}

.banner-area h2 {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    font-size: 20px;
    font-style: italic;
}

/* Burger bar */
.toggler {
    cursor:pointer;
}

.bars {
    background: rgba(255,255,255,0.8);
    display: inline-block;
    height: 2px;
    position: absolute;
    transition: background .2s ease-out;
    width: 22px;
}

.bars:before,
.bars:after {
    background: rgba(255,255,255,0.8);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bars:before {
    top: 6px;
}

.bars:after {
    top: -6px;
}


/* TABLET MENU */
/* Nav Menu Toggle (partial burger-bar) */
@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggler {
        order: 2;
    }

    .button a {
        padding: 8px 15px;
        background: #134347;
        border: 1px #134347 solid;
    }

    .button a:hover {
        transition:all .25s;
    }

    .button a:active {
        transition:all .25s;
        color: #bf9d9d;
        background: #134347;
        border-color: #134347;
    }

    .button.secondary {
        border: 0;
    }

    .button.secondary a {
        background: transparent;
    }

    .button:not(.secondary) a:hover {
        color: #ddd;
        background: #4f7d7d;
        border-color: #356960;
    }

    .button:not(.secondary) a:active {
        transition:all .25s;
        color: #bf9d9d;
        background: #134347;
        border-color: #134347;
    }

    .button.secondary a:hover {
        color: #ddd;
        background: #4f7d7d;
        border-color: #356960;
    }

    .button.secondary a:active {
        text-decoration: underline;
        transition:all .25s;
        color: #bf9d9d;
        background: #134347;
        border-color: #134347;
    }

    .banner-area h1 {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        font-size: 40px;
        text-transform: uppercase;
    }

    .banner-area h2 {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        border-top: none;
        font-size: 30px;
        font-style: italic;
    }
}


/* DESKTOP MENU */
@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }

    .toggler {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }

    .banner-area h1 {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        font-size: 60px;
        text-transform: uppercase;
    }

    .banner-area h2 {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        border-top: none;
        font-size: 50px;
        font-style: italic;
    }
}
