@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');


/* PAGE CONTENT */
/* products.html */
.flexbox {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    color: #325050;
    font-family: 'Libre Baskerville', sans-serif;
    justify-content: center;
}

.content-container {
    margin: 10px 10px;
    width: 300px;
    background-color: #fff;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    justify-content: center;

}

.thumbnail {
	height: 200px;
    display: block;
}

.box-element {
	padding: 10px;
}

.add-button {
    padding: 5px 5px;
    background: #134347;
    border: 1px #134347 solid;
    font-size: 12px;
    color: rgba(255,255,255,0.8);
}

.add-button:hover {
    text-decoration: underline;
    transition:all .25s;
    color: #ddd;
    background: #4f7d7d;
    border-color: #356960;
}

.box-element a{
    padding: 5px 5px;
    background: #356960;
    border: 1px #134347 solid;
    font-size: 12px;
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}

.box-element a:hover{
    text-decoration: underline;
    color: #ddd;
    background: #4f7d7d;
    border-color: #356960;
}
