@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Shadows+Into+Light&display=swap');

/* PAGE CONTENT */
/* cart.html */
.flexbox-cart {
    margin: 25px 20px;
    display: block;
    justify-content: center;
}


/* Top container */
.cart-container {
    margin: 10px;
    display: block;
    background-color: #fff;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
}

.summary-container {
	margin: 5px;
    padding: 15px 10px 0 10px;
    vertical-align: center;
}

.separator-1 {
    margin: 15px 0;
    border-top: #356960;
    color: #356960;
}

.summary-table {
    margin: 5px;
    padding: 0 18px 15px 10px;
    width: 100%;
    text-align: left;
}

.summary-table h5 {
    color: #325050;
    font-size: 14px;
    font-family: 'Julius Sans One', sans-serif;
}

.summary-table tr th:nth-last-child(1) {
    text-align: right;
}

.shopping-button {
    padding: 5px 5px;
    background: #356960;
    border: 1px #134347 solid;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    color: rgba(255,255,255,0.8);
}

.shopping-button:hover {
    text-decoration: underline;
    transition:all .25s;
    color: #ddd;
    background: #4f7d7d;
    border-color: #356960;
}

.checkout-button {
    padding: 5px 5px;
    background: #bf9d9d;
    border: 1px #356960 solid;
    font-size: 14px;
    font-family: 'Julius Sans One', sans-serif;
    color: #356960;
    text-decoration: none;
}

.checkout-button:hover {
    text-decoration: underline;
    color: rgba(53,105,96,0.8);
    background: rgba(191, 157, 157, 0.8);
    border-color: #356960;
}


/* Bottom container */
.purchase-container {
    margin: 10px;
    padding: 5px 5px;
    vertical-align: center;
    background-color: #fff;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
}

.items-table {
    margin: 5px;
    padding: 0 5px;
    width: 100%;
    text-align: left;
}

.items-table h5 {
    color: #325050;
    font-size: 14px;
    font-family: 'Julius Sans One', sans-serif;
}

.separator-2 {
    margin: 5px 10px;
    border-top: #356960;
    color: #356960;
}

.row-image{
	height: 50px;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.change-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.change-quantity:hover{
	opacity: .6;
}
