@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Shadows+Into+Light&display=swap');

/* PAGE CONTENT */
/* products.html */

/* Filter */
.product-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 20px;
}

.filter-form {
}

.filter-form label, input, textarea{
    margin: 5px;
    display: inline-block;
    text-align: left;
    color: #325050;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;
    vertical-align: middle;
}

.filter-form label{

}


.filter-form input, textarea {
}

.filter-hr {
    margin-left: 20px;
    margin-right: 20px;
    border-top: #356960;
    color: #356960;
}

.filter-button {
    float: right;
    margin: 5px;
    padding: 5px;
    background: #bf9d9d;
    border: 1px #356960 solid;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Julius Sans One', sans-serif;
    color: #356960;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.filter-button:hover {
    text-decoration: underline;
    transition:all .25s;
    color: rgba(53,105,96,0.8);
    background: rgba(191, 157, 157, 0.8);
    border-color: #356960;
}

.filter-button:active {
    text-decoration: underline;
    transition:all .25s;
    color: #2b554d;
    background: #ae8484;
    border-color: #2b554d;
}

/* Products */
.flexbox {
    margin: 25px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Product container */
.content-container {
    margin: 10px 10px;
    width: 300px;
    background-color: #fff;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	box-shadow:hsl(0, 0%, 70%) 0 0 16px;
    border-radius: 5px;
}

.image-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.image-container:hover {
    cursor: pointer;
}

.thumbnail {
	height: 200px;
}

.element-container {
	padding: 10px;
    vertical-align: center;
}

.element-container h3 {
    color: #325050;
    font-family: 'Calibri', sans-serif;
}

.element-container hr {
    border-top: #356960;
    color: #356960;
}

.underline-details {
    display: block;
    vertical-align: center;
    padding-top: 5px;
}

.underline-details h3 {
    float: right;
    color: #325050;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;
}

.product-add-button {
    padding: 5px 5px;
    background: #356960;
    border: 1px #134347 solid;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Julius Sans One', sans-serif;
    color: rgba(255,255,255,0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.product-add-button:hover {
    text-decoration: underline;
    transition:all .25s;
    color: #ddd;
    background: #4f7d7d;
    border-color: #356960;
    cursor: pointer;
}

.product-add-button:active {
    text-decoration: underline;
    transition:all .25s;
    color: #b3b3b3;
    background: #3b5e5e;
    border-color: #2b554e;
}

.element-container a {
    padding: 5px 5px;
    background: #bf9d9d;
    border: 1px #134347 solid;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Julius Sans One', sans-serif;
    color: #356960;
    text-decoration: none;
}

.element-container a:hover {
    text-decoration: underline;
    transition:all .25s;
    color: rgba(53,105,96,0.8);
    background: rgba(191, 157, 157, 0.8);
    border-color: #356960;
    cursor: pointer;
}

.element-container a:active {
    text-decoration: underline;
    transition:all .25s;
    color: #2b554d;
    background: #ae8484;
    border-color: #2b554d;
}


/* Detail popup view */
.content-container .popup-view {
    z-index: 2;
    background: rgba(196, 221, 207, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.content-container .popup-view.active {
    opacity: 1;
    visibility: visible;
}

.content-container .popup-card {
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.content-container .popup-card .product-image {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #c4ddcf;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
}

.content-container .popup-card .product-image img {
    z-index: 2;
    position: relative;
    max-width:400px;
    width: auto;
    height: auto;
}

.content-container .popup-card .detail-info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    border-radius: 5px;
}

.content-container .popup-card .close-btn {
    color: #c4ddcf;
    background-color: #134347;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.content-container .popup-card .detail-info h3 {
    color: #134347;
    font-family: 'Calibri', sans-serif;
    font-size: 35px;
    font-weight: bold;
    word-wrap: break-word;
    margin: 10px;
}

.content-container .popup-card .detail-info hr {
    border-top: #356960;
    color: #356960;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-container .popup-card .detail-info p {
    color: #134347;
    font-family: 'Calibri', sans-serif;
    font-size: 15px;
    margin: 10px;
}

.content-container .popup-card .detail-info .price {
    color: #134347;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    margin: 10px;
}


/* Responsive style for popup view */
@media (max-width: 900px) {
    .content-container .popup-card {
        flex-direction: column;
        width: 350px;
        height: auto;
    }

    .content-container .popup-card .product-image {
        z-index: 3;
        width: 100%;
        height: 200px;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .content-container .popup-card .product-image img {
        left: initial;
        max-width:150px;
        max-height:190px;
        width: auto;
        height: auto;
    }

    .content-container .popup-card .detail-info {
        width: 100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .content-container .popup-card .detail-info h3 {
        margin: 20px 5px 5px 5px;
        font-size: 25px;
    }

    .content-container .popup-card .detail-info p {
        font-size: 13px;
        margin: 5px;
    }

    .content-container .popup-card .detail-info .price {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .content-container .popup-card .close-btn {
        z-index: 4;

    }
}
