{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flexbox-cart">
        <div class="cart-container">
            <!-- Zpět k nákupu -->
            <div class="summary-container">
                <a class="shopping-button"
                   href="{% url "products:products" %}">
                    &#x2190; Continue Shopping
                </a>
                <hr class="separator-1">
            </div>
             <!-- Tabulka shrnutí -->
            <table class="summary-table">
                <tr>
                    <th><h5>Items: {{cart.cart_items}}</h5></th>
                    <th><h5>Total: {{cart.cart_total}}</h5></th> <!-- správně nastavit propertu aby fungovala -->
                    <th>
                        <a  class="checkout-button" href="{% url "cart:checkout" %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>
        <br>
        <!-- Seznam produktů v košíku -->
        <div class="purchase-container">
            <!-- Header -->
            <table class="items-table">
                <tr class="cart-row">
                    <th><h5>Preview</h5></th>
                    <th><h5>Item</h5></th>
                    <th><h5>Price</h5></th>
                    <th><h5>Quantity</h5></th>
                    <th><h5>Total</h5></th>
                </tr>
            </table>
            <hr class="separator-2">
            <!-- Seznam produktů v košíku -->
            {% for item in cart.cartitem_set.all %}
                <table class="items-table">
                    <tr>
                        <!-- Product thumbnail -->
                        {% if item.product.image_url %}
                            <th>
                                <img class="row-image" src="{{item.product.imageURL}}" alt="{{product.id}}">
                            </th>
                        {% else %}
                            <th>
                                <img class="row-image" src="{% static "images/placeholder.png" %}" alt="{{product.id}}">
                            </th>
                        {% endif %}
                        <!-- Product information -->
                        <th><p>{{item.product.name}}</p></th>
                        <th><p>{{item.product.price}}</p></th>
                        <!-- Add quantity +1 -->
                        <th><div class="quantity">
                                <img data-product="{{item.product.id}}"
                                     data-action="increment"
                                     class="change-quantity update-cart"
                                     src="{% static  'images/arrow-up.png' %}"
                                     alt="+">
                            </div>
                        </th>
                        <!-- Product quantity -->
                        <th><p class="item-quantity">{{item.quantity}}</p>
                        <!-- Remove quantity -1 -->
                        <th><div class="quantity">
                                <img data-product="{{item.product.id}}"
                                     data-action="decrement"
                                     class="change-quantity update-cart"
                                     src="{% static  'images/arrow-down.png' %}"
                                     alt="-">
                            </div>
                        </th>
                        <!-- Product total price -->
                        <th><p class="total">{{item.cart_total}}</p></th>
                    </tr>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
