{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flexbox-checkout">
        <!-- Shrnutí objednávky -->
        <div class="order-summary-container">
            <!-- Návrat do košíku -->
            <a  class="back-to-cart-button" href="{% url 'cart:cart' %}">&#x2190; Back to Cart</a>
            <hr class="separator-4">
            <h3>Order Summary</h3>
            <hr class="separator-4">
            <!-- Tabulka položek v košíku -->
            {% for item in items %}
                <table class="items-table">
                    <tr>
                        {% if product.image_url %}
                            <th>
                                <img class="row-image" src="{{item.product.imageURL}}" alt="{{product.id}}">
                            </th>
                        {% else %}
                            <th>
                                <img class="row-image" src="{% static "images/placeholder.png" %}" alt="{{product.id}}">
                            </th>
                        {% endif %}
                        <th><p>{{item.product.name}}</p></th>
                        <th><p>{{item.product.price}}</p></th>
                        <th><p>{{item.quantity}}</p></th>
                    </tr>
                </table>
            {% endfor %}
            <hr class="separator-4">
            <!-- Shrnutí nákupu -->
            <h5>Items:   {{order.get_cart_items}}</h5>
            <br>
            <h5>Total:   {{order.get_cart_total}}</h5>
        </div>
        <!-- Dodací údaje -->
        <div class="shipping-info-container">
            <div class="form-container">
                <form id="shipping-form">
                    <p>Shipping Information</p>
                    <hr class="separator-3">
                    <!-- Informace uživatele -->
                    <div id="user-info">
                        <div class="form-field">
                            <label>
                                <input required class="form-control"
                                       type="text"
                                       name="first_name"
                                       placeholder="First Name..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input required class="form-control"
                                       type="text"
                                       name="last_name"
                                       placeholder="Last Name..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input required class="form-control"
                                       type="email"
                                       name="email"
                                       placeholder="Email..">
                            </label>
                        </div>
                    </div>
                    <!-- Dodací adresa -->
                    <div id="shipping-info">
                        <div class="form-field">
                            <label>
                                <input class="form-control" type="text" name="address" placeholder="Address..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input class="form-control" type="text" name="city" placeholder="City..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input class="form-control" type="text" name="state" placeholder="State..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                            </label>
                        </div>
                    </div>
                    <!-- Potvrzení objednávky -->
                    <input class="shipping-button" type="submit" value="Continue">
                </form>
            </div>
            <br>
            <!-- Platba -->
            <!--
                <div class="payment-container hidden" id="payment-info">
                    <small>Payment Options</small>
                    <button id="make-payment">Make payment</button>
                    <div id="payment-button-container"></div>
                </div>
                -->
        </div>
    </div>
{% endblock content %}
