{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flexbox">
        {% for product in products %}
            <div class="content-container">
                <!-- Obrázek produktu -->
                <div class="image-container">
                    {% if product.image_url %}
                        <img class="thumbnail" src="{{product.image_url}}" alt="{{product.id}}">
                    {% else %}
                        <img class="thumbnail" src="{% static "images/placeholder.png" %}" alt="{{product.id}}">
                    {% endif %}
                </div>
                <!-- Informace o produktu -->
                <div class="element-container">
				    <h3>{{product.name}}</h3>
				    <hr>
                    <div class="underline-details">
                        <!-- Přidat do košíku -->
                        <button class="product-add-button"
                                data-product="{{product.id}}"
                                data-action="add">
                            Add to Cart
                        </button>
                        <!-- Detail produktu -->
                        <a class="view-button" href="#">
                            View
                        </a>
				        <h3>{{product.price}} {{product.currency}}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
