{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flexbox">
        {% for product in products %}
            <div class="content-container">
                <div class="image-container">
                    <img class="thumbnail" src="{{product.image_url}}" alt="{{product.id}}">
                </div>
                <div class="element-container">
				    <h3>{{product.name}}</h3>
				    <hr>
                    <div class="underline-details">
                        <button class="add-button" data-product="{{product.id}}" data-action="add">
                            Add to Cart
                        </button>
                        <a class="btn btn-outline-success" href="#">
                            View
                        </a>
				        <h3>{{product.price}} CZK</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
